:root {
  --bg-color: #f2fbf9;
  --primary-1: #04433b; //h1
  --primary-2: #233735; //h2
  --accent-1: #00b686;
  --grey-1: #657372;
  --grey-2: #7b8786;
  --grey-3: #bdc3c2;
  --grey-4: #d3d7d7;
  --grey-5: #e9ebeb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 1200px) {
    font-size: 60%;
  }
  @media screen and (max-width: 950px) {
    font-size: 55%;
  }
  @media screen and (max-width: 750px) {
    font-size: 48%;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--primary-2);
  padding: 2rem 5rem;

  @media screen and (max-width: 650px) {
    padding: 2rem;
  }
}

.text {
  font-family: var(--proxima-nova);
  font-weight: 400;
}
