:root {
  --bg-color: #f2fbf9;
  --grey-1: #657372; //icons, button texts, h3
  --grey-2: #7b8786;
  --grey-3: #bdc3c2;
  --grey-4: #d3d7d7; // right border color
  --grey-5: #e9ebeb; //border color
  --accent-1: #00b686;
  --primary-1: #04433b; //h1
  --primary-2: #233735; //h2
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 1200px) {
    font-size: 60%;
  }
  @media screen and (max-width: 950px) {
    font-size: 55%;
  }
  @media screen and (max-width: 750px) {
    font-size: 48%;
  }
  @media screen and (max-width: 650px) {
    // font-size: 46%;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: #233735;
  padding: 2rem 5rem;
}
