.my-drawer {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (min-width: 400px) {
    display: none;
  }

  :global(.ant-drawer-wrapper-body) {
    background-color: #e9ebeb;
    padding: 0 5rem;
  }
  :global(.ant-drawer-header) {
    border: none;
    margin-top: 3rem;
    :global(.ant-drawer-title) {
      display: none;
    }
    :global(.ant-drawer-close) {
      font-size: 3rem;
      margin: 0;
    }
  }
  :global(.ant-drawer-header-title) {
    justify-content: flex-end;
  }

  :global(.ant-drawer-body) {
    .drawer-content {
      font-size: 1.6rem;
    }
  }

  .drawer-user {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--grey-4);

    &-name {
      display: flex;
      flex-direction: column;
      text-transform: capitalize;
    }
    span {
      color: var(--grey-2);
      &:first-child {
        font-weight: 700;
        color: var(--primary-2);
        font-size: 1.6rem;
      }

      &:nth-child(2) {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      align-items: center;
      padding: 3.2rem 0;
      gap: 1.8rem;

      &:not(:last-child) {
        border-bottom: 1px solid var(--grey-4);
      }
      span {
        font-size: 1.6rem;
        text-transform: capitalize;
        color: var(--accent-2);
      }
      svg {
        width: 3rem;
        height: 3rem;
        color: var(--grey-1);
      }
    }
  }
}
