.nav {
  display: flex;

  border-bottom: 1px solid var(--grey-3);
  align-items: center;
  padding-bottom: 2rem;
  &-logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--primary-1);
    position: relative;

    &::after {
      content: "";
      width: 2.5rem;
      height: 2.5rem;
      display: block;
      background-color: var(--accent-1);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-svg {
    margin-right: auto;
    color: var(--grey-1);
    width: 2rem;
    height: 2rem;
    margin-left: 0.2rem;
  }

  &-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;

    @media screen and (max-width: 400px) {
      display: none;
    }
  }

  .nav-item svg {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--grey-1);
  }

  .notification {
    .badge {
      font-size: 10px;
    }
    :global(.ant-badge-count) {
      min-width: 15px;
      height: 15px;
      width: 15px;
      top: 3px;
      right: 3px;
      line-height: normal;
      background-color: #f97777;
    }
  }

  .hamburger-icon {
    font-size: 2.4rem;
    margin: 0 1rem;
    color: var(--grey-1);

    &:hover {
      cursor: pointer;
    }

    @media screen and (min-width: 400px) {
      display: none;
    }
  }
}

.user {
  margin-left: 2.8rem;
  height: 4rem;
  width: 4rem;
  align-self: center;
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 400px) {
    display: none;
  }
}

.my-drawer {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  :global(.ant-drawer-wrapper-body) {
    background-color: #e9ebeb;
    padding: 0 3rem;
  }
  :global(.ant-drawer-header) {
    border: none;
    margin-top: 3rem;
    :global(.ant-drawer-title) {
      display: none;
    }
    :global(.ant-drawer-close) {
      font-size: 3rem;
      margin: 0;
    }
  }
  :global(.ant-drawer-header-title) {
    justify-content: flex-end;
  }

  :global(.ant-drawer-body) {
    .drawer-content {
      font-size: 2rem;
    }
  }

  .drawer-user {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
    border-bottom: 1px solid var(--grey-4);
    &-name {
      display: flex;
      flex-direction: column;
      text-transform: capitalize;
    }
    span {
      color: var(--grey-2);
      &:first-child {
        font-weight: 700;
        color: var(--primary-2);
      }
    }
    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      align-items: center;
      padding: 3.2rem 0;
      gap: 1.8rem;

      &:not(:last-child) {
        border-bottom: 1px solid var(--grey-4);
      }
      span {
        font-size: 2rem;
        text-transform: capitalize;
        color: var(--accent-2);
      }
      svg {
        width: 3rem;
        height: 3rem;
        color: var(--grey-1);
      }
    }
  }
}
